<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>TEST</title>

    {% load static %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>           

<input type="text" name="userInput" id="userInput">
<div id="time">0s</div>
<div id="Random">RANDOM</div>
<div id="Play">PLAY</div>
<div id="Pausa">PAUSE</div>
<div id="Parar">PARAR</div>
<div id="Adelantar">ADELANTAR</div>

<div id="Background"></div>

<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery.jkit.custom.1.2.16.min.js'%}"></script>
<script type="text/javascript">
	var baseUrl = "{{ request.scheme }}://{{ request.get_host }}";
	var urlFile = baseUrl+"{% url 'getFileUrl'%}";
	var urlImagen1 = "{% static 'img/notas_1.gif' %}"
	var urlImagen2 = "{% static 'img/notas_2.gif' %}"
	var urlImagen3 = "{% static 'img/notas_3.gif' %}"
	
</script>

<script type="text/javascript" src="{% static 'js/main.js' %}" >    
</script>

<script type="text/javascript" src="{% static 'js/background.js' %}"></script>
</body>
</html>
