

body{
	background-color: #111111;
}

#entrada{
	background: #656;
}
.nota0 .nota1 .nota2::selection {
	background: transparent 
}
.parent0{
	z-index: -1;
}
.parent1{
	z-index: -2;
}
.parent2{
	z-index: -3;
}
.highlightTextarea mark{
	background: transparent;
	font-weight: bold;
	color: red !important;
}

.highlightTextarea .highlightTextarea-highlighter{
	color: black !important;
}

div.highlightTextarea-container{
	height: 30px !important;
	width: calc(100% - 2px) !important;
}

div.highlightTextarea-highlighter{
	height: auto !important;
}

.editable {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 0px;
	background: white;
	min-height: 15px;
	color: #999;
}

.editable:focus {
	border: none;
}

.editable.typed {
	color: #333;
}

.editable.typed  {
	color: #333;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

@keyframes example {
	from {
		color: #333;
		text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	}
	to {
		color: #f44336;
		text-shadow: 0px 0px 3px rgba(255, 50, 50, 0.3);
	}
}

.editable.typed .mark {
	color: #f44336;
	font-weight:bold;
	text-shadow: 0px 0px 3px rgba(255, 50, 50, 0.3);
	animation-name: example;
	animation-duration: .3s;
}
