

body{
    background-color: #111111;
}

#entrada{
	background: #656;
}
.nota0 .nota1 .nota2::selection {
	background: transparent 
}
.parent0{
	z-index: -1;
}
.parent1{
	z-index: -2;
}
.parent2{
	z-index: -3;
}